.social{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 9;
}
.charity{
	position: absolute;
	top: 0px;
	right:0px;
	z-index: 99;
}
.sale{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 9;
}
.forex
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 99;
}
.middle
{
	position: absolute;
	top: 200px;
	bottom: 300px;
	left: 400px;
	right: 300px;
	z-index: 999;
}
